.headerNav {
}

.headerMenu {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: space-evenly;
}

.headerNav a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  cursor: default;
  transition: all ease-in-out 0.28s;
}

.headerNav a:not(.headerNav a.active):hover {
  cursor: pointer;
  opacity: 0.7;
}
